<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <import resource="spring-base.xml" />
    <import resource="spring-gateway-pos.xml" />
    <import resource="spring-map-clear-quartz.xml" />
</beans>